@import url("theme.css");

.wy-nav-content {
    max-width: none !important;
}

/*Package list table header*/
div[id=packages] .wy-table-responsive .wy-table thead, .rst-content table.docutils thead, .rst-content table.field-list thead {
    text-align: center !important;
}

/*Package list table first column : Name*/
div[id=packages] .wy-table-responsive colgroup col:nth-child(1) {
    width: 25% !important;
}

/*Package list table second column : Version*/
div[id=packages] .wy-table-responsive colgroup col:nth-child(2) {
    width: 10% !important;
    text-align: center !important;
}
div[id=packages] .wy-table-responsive td:nth-child(2) {
    text-align: center !important;
}
/*Package list table third column : Description*/
div[id=packages] .wy-table-responsive colgroup col:nth-child(3) {
    width: 40% !important;
}

/*Package list table fourth column : Home page url*/
div[id=packages] .wy-table-responsive colgroup col:nth-child(4) {
    width: 25% !important;
}


div[id=packages] .wy-table-responsive table tr td:nth-child(1) {
    color: darkblue;
}

div[id=packages] .wy-table-responsive table tr td:nth-child(3) {
    white-space: normal !important;
}

div[id=packages] .wy-table-responsive table tr th:nth-child(5) {
    display: none !important;
}
div[id=packages] .wy-table-responsive table tr td:nth-child(5) {
    display: none !important;
}