adm/root.mk
doc/_build
doc/utilities.md
layers/layer1_nodejs/0500_extra_packages/node_modules
layers/layer1_python2/0500_extra_python_packages/src
layers/layer1_python2/0500_extra_python_packages/tempolayer*
layers/layer1_python3/0500_extra_python_packages/src
layers/layer1_python3/0500_extra_python_packages/tempolayer*
layers/layer1_python3/0600_gunicorn_custom_log/build/
layers/layer1_python3/0600_gunicorn_custom_log/dist/
layers/layer1_python3/0600_gunicorn_custom_log/gunicorn_custom_log.egg-info/
doc/layer_*.md
doc/layer_*.rst
*.plugin
*.whl
integration_tests/0003_extra_daemons/foobar/local
__pycache__/
integration_tests/0002_python3_plugin/foobar/python3_virtualenv_sources/requirements3.txt
integration_tests/0003_extra_daemons/foobar/toto
