# Your crontab fragment here
# Example:
# 0 2 * * * {% raw %}{{MFSERV_HOME}}{% endraw %}/bin/cronwrap.sh --lock --log-capture-to your_command.log -- plugin_wrapper {{cookiecutter.name}} your_command.sh
